@use "/src/scss/_index.scss" as *;

.search-from-container {
    grid-area: srch;
    @extend %fx-c;
    form {
        @extend %fx-c;
        height: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 5px;
        background-color: $theme-input-background;
        min-width: 560px;
        @include mobile-view{
            min-width: 90%;
        }

        justify-content: space-between;
        gap: 10px;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
        input {
            background-color: transparent;
            color: $theme-text-drk-wht;
            font-size: 15px;
            flex-grow: 1;
        }
        button {
            background-color: transparent;
            @extend %fx-c;
            svg {
                cursor: pointer;
                align-self: center;
                font-size: x-large;
                color: $theme-text-drk-wht;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
